name: CI/CD Pipeline

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]
  workflow_dispatch:
    inputs:
      execution_mode:
        description: 'Execution Environment'
        required: true
        default: 'local'
        type: choice
        options:
          - local
          - browserstack
      test_browser:
        description: 'Browser'
        required: true
        default: 'chrome'
        type: choice
        options:
          - chrome
          - firefox

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      BS_USER: ${{ secrets.BS_USER }}
      BS_KEY: ${{ secrets.BS_KEY }}

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Run Cucumber Tests (Headless - CI)
        if: github.event_name != 'workflow_dispatch' || inputs.execution_mode == 'local'
        run: mvn clean test -Dheadless=true -Dbrowser=${{ github.event.inputs.test_browser || 'chrome' }}

      - name: Run Cucumber Tests (BrowserStack)
        if: github.event_name == 'workflow_dispatch' && inputs.execution_mode == 'browserstack'
        run: mvn clean test -Dtarget=browserstack -DbsUser=${{ secrets.BS_USER }} -DbsKey=${{ secrets.BS_KEY }}

      - name: Upload Test Report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: allure-results
          path: target/allure-results/
          retention-days: 7

      - name: Build Allure Report
        uses: simple-elf/allure-report-action@master
        if: always()
        with:
          allure_results: target/allure-results
          gh_pages: gh-pages
          allure_report: allure-report
          allure_history: allure-history

      - name: Deploy Allure Report to GitHub Pages
        if: always()
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: allure-history

      - name: Send Email Notification on Failure
        if: failure()
        uses: dawidd6/action-send-mail@v3
        with:
            server_address: smtp.gmail.com
            server_port: 465
            secure: true
            username: ${{ secrets.EMAIL_USERNAME }}
            password: ${{ secrets.EMAIL_PASSWORD }}
            subject: "Test Notification Failure: ${{ github.repository }}"
            to: brian.padgett11@outlook.com
            from: ${{ secrets.EMAIL_USERNAME }}
            body: |
              Build Status: ${{ job.status }}

              Commit: ${{ github.sha }}
              View logs: https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}
